<mat-toolbar style="background-color: #0277bd " class="mat-elevation-z10">
  <button type="button" mat-button (click)="drawer.toggle()" style="color: white;margin:5pt">
        Menu
  </button>
  <span style="flex: 1 1 auto"></span>
  <span style="color:white">Invoice Hub</span>
  <span style="flex: 1 1 auto"></span>
  <span style="color:white">{{username}}</span>
  <button type="button" mat-button style="color: white;margin:5pt">
    Log Out
  </button>
</mat-toolbar>
<mat-divider style="color:white"></mat-divider>
<mat-drawer-container class="navbar" autosize>
  <mat-drawer #drawer mode="side">
    <mat-list>
      <mat-list-item style="margin: 10pt"> <app-drawer-item></app-drawer-item> </mat-list-item>
      <mat-list-item style="margin: 10pt"> <app-drawer-item></app-drawer-item> </mat-list-item>
      <mat-list-item style="margin: 10pt"> <app-drawer-item></app-drawer-item> </mat-list-item>
      <mat-list-item style="margin: 10pt"> <app-drawer-item></app-drawer-item> </mat-list-item>
      <mat-list-item style="margin: 10pt"> <app-drawer-item></app-drawer-item> </mat-list-item>
      <mat-list-item style="margin: 10pt"> <app-drawer-item></app-drawer-item> </mat-list-item>
      <mat-list-item style="margin: 10pt"> <app-drawer-item></app-drawer-item> </mat-list-item>
    </mat-list>
  </mat-drawer>
  <div>
    <app-search></app-search>
    <router-outlet></router-outlet>
<!--    <app-main-area></app-main-area>-->
  </div>
</mat-drawer-container>

