<div style="width: 100%;background-color: #0277bd;padding-left: 10%;"  >
  <mat-form-field class="mat-form-field mat-form-field-type-mat-input mat-form-field-appearance-legacy mat-form-field-can-float mat-form-field-has-label mat-form-field-hide-placeholder" style="width: 80%">
    <div class="mat-form-field-wrapper">
      <div class="mat-form-field-flex">
        <input type="text" matInput style="color:white"/>
      </div>
    </div>
    <span class="mat-form-field-label-wrapper">
      <label class="mat-form-field-label mat-form-field-empty mat-empty" style="color:white">Search</label>
    </span>
  </mat-form-field>
  <button type="button" mat-icon-button (click)="drawer.toggle()" style="color: white;margin:5pt">
    <mat-icon class="material-icons">search</mat-icon>
  </button>
</div>
